function Field.drawField 4
push constant 143
pop local 0
push constant 493
pop local 1
push constant 15
pop local 2
push constant 239
pop local 3
label WHILE_EXP0
push local 0
push local 1
push constant 1
add
lt
not
if-goto WHILE_END0
push local 0
push local 2
push local 0
push local 3
call Screen.drawLine 4
pop temp 0
push local 0
push constant 7
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 143
pop local 0
label WHILE_EXP1
push local 2
push local 3
push constant 1
add
lt
not
if-goto WHILE_END1
push local 0
push local 2
push local 1
push local 2
call Screen.drawLine 4
pop temp 0
push local 2
push constant 7
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
