function GameField.new 1
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push argument 0
call Array.new 1
pop this 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 0
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push argument 1
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function GameField.drawField 6
push argument 0
pop pointer 0
push constant 143
pop local 0
push constant 15
pop local 1
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push this 1
lt
not
if-goto WHILE_END0
push local 2
push this 0
add
pop pointer 1
push that 0
pop local 5
push constant 0
pop local 3
label WHILE_EXP1
push local 3
push this 2
lt
not
if-goto WHILE_END1
push local 3
push local 5
add
pop pointer 1
push that 0
pop local 4
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push constant 7
add
push local 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push constant 1
add
push local 1
push constant 1
add
push local 0
push constant 6
add
push local 1
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
add
push local 1
push constant 1
add
push local 0
push constant 6
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 6
add
push local 1
push constant 1
add
push local 0
push constant 1
add
push local 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
label IF_FALSE0
push local 2
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 2
add
push local 1
push constant 2
add
push local 0
push constant 5
add
push local 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push local 0
push constant 7
add
pop local 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP1
label WHILE_END1
push constant 143
pop local 0
push local 1
push constant 7
add
pop local 1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
