function Game.new 3
push constant 10
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 3
push argument 2
pop this 2
push constant 128
pop this 4
push constant 83
pop this 5
push constant 130
pop this 8
push constant 131
pop this 6
push constant 132
pop this 9
push constant 133
pop this 7
push this 2
call GameField.drawField 1
pop temp 0
push pointer 0
return
function Game.selectFirstCell 2
push argument 0
pop pointer 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push this 4
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
call Player.getCursor 1
return
label IF_FALSE0
push local 0
push this 8
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push constant 0
push constant 1
neg
call Player.move 3
pop temp 0
label IF_FALSE1
push local 0
push this 6
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push constant 1
neg
push constant 0
call Player.move 3
pop temp 0
label IF_FALSE2
push local 0
push this 9
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
push constant 0
push constant 1
call Player.move 3
pop temp 0
label IF_FALSE3
push local 0
push this 7
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
push constant 1
push constant 0
call Player.move 3
pop temp 0
label IF_FALSE4
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function Game.loop 2
push argument 0
pop pointer 0
push pointer 0
push this 0
call Game.selectFirstCell 2
pop local 0
push constant 0
return
