function Main.main 4
call Menu.drawMenu 0
pop temp 0
push constant 0
call Player.new 1
pop local 0
push constant 1
call Player.new 1
pop local 1
push constant 30
push constant 50
call GameField.new 2
pop local 2
push local 0
push local 1
push local 2
call Game.new 3
pop local 3
push local 3
call Game.loop 1
pop temp 0
push constant 0
return
