function Main.main 0
call Menu.drawMenu 0
pop temp 0
call Field.drawField 0
pop temp 0
push constant 143
push constant 15
push constant 150
push constant 22
call Screen.drawRectangle 4
pop temp 0
push constant 486
push constant 15
push constant 493
push constant 22
call Screen.drawRectangle 4
pop temp 0
push constant 143
push constant 232
push constant 150
push constant 239
call Screen.drawRectangle 4
pop temp 0
push constant 486
push constant 232
push constant 493
push constant 239
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
