function Random.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
return
function Random.next 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
push constant 75
call Math.multiply 2
push constant 74
add
pop local 0
push pointer 0
push local 0
push constant 7369
call Random.modulo 3
pop local 0
push local 0
pop this 0
push pointer 0
push local 0
push argument 1
call Random.modulo 3
pop local 0
push local 0
return
function Random.modulo 0
push argument 0
pop pointer 0
label WHILE_EXP0
push argument 1
push argument 2
gt
push argument 1
push argument 2
eq
or
not
if-goto WHILE_END0
push argument 1
push argument 2
sub
pop argument 1
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push argument 1
push constant 0
lt
not
if-goto WHILE_END1
push argument 1
push argument 2
add
pop argument 1
goto WHILE_EXP1
label WHILE_END1
push argument 1
return
